.container {
  min-width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.container:hover > .titleContainer {
  background-color: #a22f97;
}

.container:hover > .titleContainer > h5 {
  color: white;
}

.container:hover .whiteIcon {
  display: block;
}

.container:hover .icon {
  display: none;
}

.serviceTitle {
  font-weight: 500;
  margin-right: 20px;
}

.titleContainer {
  display: flex;
  position: relative;
  flex: 1;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
  width: 100%;
  transition-behavior: normal;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

.whiteIcon {
  display: none;
}

.imgContainer {
  width: 100%;
  flex: 4;
  position: relative;
  transition: transform ease 0.5s; /* Animation */
}

.container:hover > .imgContainer {
  transform: scale(1.3);
}
