.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: black;
}

/* .container {
  padding-inline: 50px;
} */

.biography {
  margin-top: 115px;
  margin-bottom: 130px;
  display: flex;
  align-items: center;
  padding-inline: 40px;
}

.bioText {
  flex: 4;
  font-family: 'Estedad';
  text-align: justify;
  line-height: normal;
  margin-bottom: 10px;
}

.bioText > span {
  font-family: 'Estedad-FD';
}

.imgContainer {
  min-width: 200px;
  height: 200px;
  position: relative;
  flex: 1;
  margin-left: 60px;
}

.imgContainer > img {
  border-radius: 300px;
  border: 3px solid #a22f96a4;
  -webkit-box-shadow: -0.5px 0 17px 1px #a22f97;
  -moz-box-shadow: -0.5px 0 17px 1px #a22f97;
  box-shadow: -0.5px 0 17px 1px #a22f97;
}

.readMore {
  text-decoration: none;
}

/* .services {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  margin-bottom: 80px;
} */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 56px;
  column-gap: 32px;
  margin-bottom: 80px;
}

.moreButton {
  width: 195px;
  height: 60px;
  font-weight: 500;
  font-size: 18px;
  transition: transform ease 0.5s;
}

.moreButton:hover {
  transform: scale(1.2);
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .main {
    display: initial;
  }

  .container {
    padding-inline: 50px;
  }

  .biography {
    margin-top: 50px;
    margin-bottom: 65px;
    flex-direction: column;
  }

  .bioTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }

  .imgContainer {
    flex: auto;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .bioText {
    width: fit-content;
  }

  /* .services {
    display: initial;
  } */

  .gridItem {
    display: flex;
    justify-content: center;
    padding-top: 0;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .lastGridItem {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 800px) {
  .grid {
    grid-template-columns: 2fr;
  }

  .lastItem {
    margin-bottom: 35px;
  }

  .lastGridItem {
    display: none;
  }
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .lastItem {
    grid-column-end: 3;
    margin-bottom: 35px;
  }

  .lastGridItem {
    display: none;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .lastGridItem {
    display: none;
  }

  .lastItem {
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 1200px) {
  .lastItem {
    display: none;
  }
}
