.container {
  flex-grow: 1;
}

/* .title {
  margin-bottom: 50px;
} */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 56px;
  column-gap: 32px;
  margin-bottom: 80px;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .title {
    text-align: center;
  }

  .gridItem {
    display: flex;
    justify-content: center;
    padding-top: 0;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 769px) and (max-width: 800px) {
  .grid {
    grid-template-columns: 2fr;
  }
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .gridItem:last-child {
    grid-column-end: 3;
  }
}
