.imgContainer {
  min-width: 470px;
  position: relative;
  height: 300px;
}

.imageCard {
  margin-bottom: 30px;
  padding: 25px 25px 25px 35px;
  display: flex;
  gap: 35px;
}

.introTitle {
  background: linear-gradient(
    to right,
    /* #156429 10%, */ #a22f97 70%,
    #6a09b9 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2s ease infinite;
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  animation: shine 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.textCard {
  margin-bottom: 30px;
  padding: 25px 25px 25px 35px;
}

.text {
  text-align: justify;
  line-height: 1.7;
}
