.carousel > a {
  height: calc(100vh - 90px);
}

.carousel > a > span {
  filter: none !important;
}

/* .carousel > a > span::before {
  background-color: black;
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
} */
