.container {
  background-color: #928691;
  width: 100vw;
  height: calc(100vh - 90px);
  position: relative;
}

.carouselItem {
  width: 100vw;
  height: calc(100vh - 90px);
}

.carousel > a {
  height: calc(100vh - 90px);
}

.carousel > a > span {
  filter: none !important;
}

/* .carousel > a > span::before {
  background-color: black;
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
} */

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .container {
    height: 300px;
  }

  .carouselItem {
    height: 300px;
  }

  .carousel > a {
    height: 300px;
  }
}
